.timer__container {
    width: 100%;
    height: calc(100vh - 60px);
    /* display: flex;
    justify-content: center; */
}

.timer_clock__Container {
    width: 500px;
    height: 500px;
    position: relative;
    left: 33%;
}

.timer_controller__container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 2rem;
}

.timer_controller__container input {
    /* padding: .8rem 4rem; */
    border-radius: 5px;
    padding-inline: .8rem;
    border: 1px solid rgb(133, 133, 133);
}

.disabled__btn {
    background-color: rgba(239, 239, 239) !important;
    color: rgb(133, 133, 133) !important;
}

.timer_controller__container button {
    padding: .8rem 4rem;
    border: none;
    border-radius: 5px;
    /* background-color: rgba(239, 100, 81); */
    background-color: rgb(176, 103, 243);
    color: #ffffff;
   
}