.chatPopup__container{
    position: absolute;
    right: 30px;
    top: 6%;
    width: 800px;
    height: 550px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chatPopup_header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(176, 103, 243);
    /* background-color: rgba(64, 147, 107); */
    padding: 10px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.chatPopup_header__you{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.chatPopup_header__you img{
   width: 5rem;
   height: 5rem;
}
.chatPopup_header__you span {
    font-size: 2rem;
    font-weight: 600;
    /* color: rgb(193, 245, 230); */
    color: #ffffff;
}

.chatPopup_chatArea{
    padding: 10px;
    background-color: white;
    height: calc(100% - 160px);
    overflow-y: auto;
}

.chat{
    /* padding: 5px; */
    margin-bottom: 5px;
    /* border: 1px solid gray; */
    
}
.chat_you {
    display: flex;
    justify-content: flex-start;
}
.chat_me {
    display: flex;
    justify-content: flex-end;
}
.chat_msg_you {
    max-width: 80%;
    padding: 10px;
    border-radius: 15px 15px 15px 0px;
    background-color: rgb(245, 245, 245);
    /* color: rgb(149, 149, 149); */
    color: #202020;
}
.chat_msg_me {
    max-width: 80%;
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
    /* background-color: rgba(64, 147, 107); */
    background-color: rgb(176, 103, 243);
    /* color: rgb(193, 245, 230); */
    color: #ffffff;
}

.chatPopup_inputArea{
    height: 60px;
    padding: 10px;
    display: flex;
    /* border: 1px solid black; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    /* border-top: 1px solid rgba(9, 30, 66, 0.25); */
    /* gap: 2rem; */
    align-items: center;
    justify-content: space-between;
}
.chatPopup_inputArea input{
    font-size: 1.3rem;
    width: 93%;
    padding: 10px;
    padding-left: 4px;
    margin-left: 1px;
    border: none;
    /* color: rgb(109, 108, 108); */
    color: #202020;
   
    /* border-bottom: 2px solid rgb(176, 103, 243); */
}

.chatPopup_inputArea input::placeholder {
    color: rgb(175, 175, 175);
}