.brain__container{
    /* padding: 1rem; */
    color: var(--sixth-color);
}

.brain__chat{
    margin: 1rem 1rem 1.5rem 1rem;
    padding: 1rem;
    border-radius: 10px;
   
}

.brain__chat_header{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: .2rem;
}

.chat_header__user_icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.chat_header__user_name{
    font-size: 18px;
    font-weight: 600;
}

.bot{
    background-color: rgb(209 213 219);
}
.user{
    background-color: rgb(185, 242, 250);
}
.bot_icon {
  background-color: var(--secondary-color);
}
.user_icon {
background-color: var(--primary-color);
}

.brain_header{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.brain_header h4{
    font-weight: 600;
    font-size: 1.5rem;
}

.brain_title{
    display: flex;   
    gap: .8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.brain_title label{
    font-size: 1.1rem;
}

.brain_source__list{
    display: flex;
    gap: 1.4rem;
}

.source_card__container{
    width: 16rem;
    height: 5rem;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--11th-color);
}

.source_card__container h6{
    font-size: .8rem;
    color: var(--sixth-color);
    margin-bottom: .6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.source_link__details{
    display: flex;
    gap: .8rem;
    color: var(--forth-color);
    align-items: center;
    font-size: .7rem;
}

.brain_links{
    margin-top: .8rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--eighth-color);
}
.brain_links__btns{
    display: flex;
    color: var(--forth-color);
    gap: 1.5rem;
}
.brain_links__right_btns{
    justify-content: end;
}

.brain_links__btn{
    display: flex;
    align-items: center;
    gap: .4rem;
    cursor: pointer;
    padding: .02rem .4rem;
}
.brain_links__btn:hover{
    background-color: var(--13th-color);
    border-radius: 3.4rem;
    justify-content: center;
}

.brain_links__btn_icon{
    margin-top: .2rem;
}
