.header__container {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: 1rem 2rem;
  height: 60px;
}

.header__logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__logo h3 {
  font-weight: 700;
  cursor: pointer;
  color: rgba(239, 100, 81);
  /* color: rgba(229, 213, 168, 0.728); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  background-color: transparent;
}

.header__links {
  /* padding: 0rem 2rem; */
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
  width: 70%;
  /* border: 1px solid green; */
  overflow-x: scroll;
  overflow-y: hidden;

  scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .header__links::-webkit-scrollbar {
    display: none;
  } 

.nav-link {
  /* Your default link styles here */
  text-decoration: none;
  color: black;
}

.active {
  color: rgb(176, 103, 243);
  font-weight: bold;
  border-bottom: 2px solid rgb(176, 103, 243);
  /* transition-duration: 2s; */
}

.nav_text {
  padding: .8rem;
  font-weight: 500;
  /* letter-spacing: 1px; */
}