.calender_container {
    padding: 1rem 2rem;
    height: calc(100vh - 60px);
    overflow-y: auto;
}


/* Calender custom styling */
.rbc-toolbar .rbc-toolbar-label {
    /* -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px;
    text-align: center; */
    font-weight: 800;
    font-size: larger;
    color: rgb(176, 103, 243);
}

.rbc-toolbar button {
    color: #202020 !important;
}

.rbc-toolbar button.rbc-active {
    background-color: rgb(176, 103, 243) !important;
    color: white !important;
    border-color: rgb(176, 103, 243) !important;
}

/* .rbc-toolbar button:hover{
    background-color: rgb(176, 103, 243) !important;
    opacity: .2;
    color: white !important;
} */

.rbc-toolbar button:hover {
    /* color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad; */
    background-color: rgb(176, 103, 243) !important;
    color: white !important;
    border-color: rgb(176, 103, 243) !important;
    opacity: .7;
}

.rbc-month-view {
    border-radius: 3px
}

.rbc-header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: #202020;
}

.rbc-event {
    background-color: rgb(176, 103, 243) !important;
}

/* .rbc-day-bg +  */
.rbc-button-link {
    font-weight: bold;
}

.rbc-date-cell {
    /* color: rgb(15, 114, 226); */
    color: rgb(176, 103, 243);
}

.rbc-today {
    opacity: .2;
    background-color: rgb(176, 103, 243) !important;
    /* background-color: rgb(196, 226, 250) !important; */
}