.calender_container {
    padding: 1rem 2rem;
    height: calc(100vh - 60px);
    overflow-y: auto;
}


/* Calender custom styling */
.rbc-toolbar .rbc-toolbar-label {
    /* -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px;
    text-align: center; */
    font-weight: 800;
    font-size: larger;
    color: #ba7ff1;
}

.rbc-month-view{
border-radius: 3px
}
.rbc-header{
   padding-top: 5px !important;
   padding-bottom: 5px !important;
}
/* .rbc-day-bg +  */
.rbc-button-link{
   font-weight: bold;
}
.rbc-date-cell {
    /* color: rgb(15, 114, 226); */
    color: #ba7ff1;
}
.rbc-today {
   
    background-color: rgb(196, 226, 250) !important;
}