:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --third-color: #040C36;
    --forth-color: #8491A3;
    --fifth-color: #202020;
    /* Add more colors as needed */
}