* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Sans-serif", Arial, sans-serif;  /* Define a fallback font stack */
  font-size: clamp(var(--font-s-s), var(--font-s-m), var(--font-s-l));
  line-height: 1.5;
  background-color: var(--third-color);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cursor_pointer{
  cursor: pointer;
}

.container_layover {
  position: absolute;
  top: 0;
  left: 0;
  /* top: 10%;
    left: 45%; */
  border: 1px solid/ red;
  /* background-color: rgb(5, 57, 57); */
  width: 100%;
  height: 100vh;
  background-color: var(--18th-color);
}